// styles.scss

.Wrapper {
  height: 100vh;
  background-color: black;

  &--lightTheme {
    background-color: white;

    .Title,
    .Form,
    .Weather {
      color: black;
    }
  }
}

.Title,
.Form,
.Weather {
  color: white;
}
